.encabezado{
    display: flex;
}
 
.imgtop {
    width: 50px;
}

.menu {
    display:flex;
}

.encabezado2 {
    color: blue;
    font-size: 20px;
}

li{
    display: flex;
    padding: 50px;

}

.logo{
    width: 150px;
    
}

.lista_ol{
    color: red;
}